@(words:List[Word], wordForm: Form[Word])

@import helper._

@main {
	<div class="page-header">
		<h1>WhiteBoad</h1>
	</div>

	<div class="boad">
		<p>
		@for(word <- words){
			<font color="#@word.color" size="@word.size" style="position:absolute; left:@word.lef;top:@word.top">
				@word.content
			</font>
		}
		</p>
	</div>
	<br>
	<div class="row">
		<form action="@routes.Application.createWord()">
			<fieldset>
				<div class="col col-xs-offset-5 col-ms-offset-5 col-md-offset-5 col-xs-4 col-ms-4 col-md-4">
					<input type="text" name="content" maxlength="8" placeholder="8文字以内" class="form-control">
				</div>
				<div class="col col-xs-3 col-ms-3 col-md-3">
					<input type="submit" class="btn btn-primary" value="書き込む">
					<a href="@routes.Application.deleteAll()" class="btn btn-danger">全消し</a>
				</div>
			</fieldset>
		</form>
	</div>

}